<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    <link rel="stylesheet" href="css/cadastro-politico.css">
    <script type="text/javascript" src="js/notify.js"></script>

    <title>Cadastro do Usuário</title>
</head>
<body>
    <% 
    // Definindo campos e classes de erro
    const camposNomes = {
        nome: "",
        email: "",
        data_nascimento: "",
        estado: "",
        partido: "",
        senha: "",
        confirmarSenha: "",
    };

    const classeErro = {
        nome: "",
        email: "",
        data_nascimento: "",
        estado: "",
        partido: "",
        senha: "",
        confirmarSenha: "",
    };
    var msgerro = "";

    if (erros) {
        erros.errors.forEach(err => {
            camposNomes[err.path] = err.msg;
            classeErro[err.path] = "erro";
            msgerro += err.msg + "<br>";
        });
    %>
    <script>
        /* Variável que armazena as mensagens de erro do EJS */
        const msgErro = "<%= msgerro %>";
        displayNotify(
            "Falha: <%= erros.errors.length %> erro(s) detectados", 
            // Substituindo os símbolos pelos sinais de "<" e ">"
            msgErro.replace(/&lt;/g, '<').replace(/&gt;/g, '>'), 
            "error"
        );
    </script>
    <% } else if (form_aprovado) { %>
        <script>
            displayNotify(
                "Tudo ocorreu como esperado :)", 
                "Você será redirecionado para a <strong>página de login!</strong>".replace(/&lt;/g, '<').replace(/&gt;/g, '>'), 
                "success"
            );
    
            setInterval(() => window.location.href = '/signin', 5000);
        </script>
    <% } %>

    <section class="box">
        <section class="img-box">
            <img src="imagem/formulario-politico.jpg"> 
        </section>
        <section class="form-box">
            <h2>Criar conta</h2>
            <p> Já tem conta? <a href="/login_usuario">Login</a></p>
            <form id="form" method="post" action="/cadastro-politico">
                <section class="input-group">
                    <label for="nome"> Nome Completo<a>*</a></label>
                    <input type="text" class="<%= classeErro.nome %>" id="nome" name="nome" placeholder="Digite seu nome completo" value="<%= dadosForm.nome %>" required>
                </section>

                <section class="input-group">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" class="<%= classeErro.email %>" placeholder="Digite seu email" value="<%= dadosForm.email %>" required>
                    
                </section>

                <section class="input-group">
                    <label for="data_nascimento"><b>Data de Nascimento<a>*</a></b></label>
                    <input type="date" name="data_nascimento" id="data_nascimento" class="inputUser <%= classeErro.data_nascimento %>" value="<%= dadosForm.data_nascimento %>" required>
                </section>

                <section class="input-group">
                    <label for="partido">Partido<a>*</a></label>
                    <input type="text" id="partido" name="partido" placeholder="Digite seu Partido" required class="<%= classeErro.partido %>" value="<%= dadosForm.partido %>">
                    
                </section>

                <section class="input-group">
                    <label> Estado <a>*</a></label>
                    <select id="estado" class="<%= classeErro.estado %>" name="estado">
                        <option selected disabled value="">Selecione</option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>
                    
                </section>

                <section class="input-group w50">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" class="<%= classeErro.senha %>" placeholder="Digite sua senha" value="<%= dadosForm.senha %>" required>
                    
                </section>

                <section class="input-group w50">
                    <label for="confirmarSenha">Confirmar Senha</label>
                    <input type="password" id="confirmarSenha" name="confirmarSenha" class="<%= classeErro.confirmarSenha %>" placeholder="Confirme sua senha" value="<%= dadosForm.confirmarSenha %>" required>
                    
                </section>

                <section class="input-group">
                    <button>Cadastrar</button>
                </section>
            </form>
        </section>
    </section>

    <!-- Script confirma senha -->
    <script type="text/javascript" src="js/securePassword.js"></script>
</body>
</html>
