<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar dados do perfil</title>
</head>
<body>
    <section class="header__wrapper">
        <%- include("../pages/header-home") %>
        <form action="update_photo" method="post">
          <section class="img__container">
            <input type="file" name="img_perfil" id="img_perfil">
          </section>

          <input type="submit" value="Mudar Foto">
        </form>

        <form action="/update_eleitor" method="post" class="container" style="margin-top: 15em;">
          <section class="container_2">
            <section>
                <label for="nome">Nome de usuário:</label>
                <input type="text" name="nome" id="nome" value="<%=dadosForm.nome%>">
            </section>
            <section>
              
          <section>
            <label for="nome">CEP:</label>
            <input type="text" name="cep" id="cep" value="<%=dadosForm.cep%>">
          </section>

          <section>
            <label for="nome">Telefone:</label>
            <input type="text" name="telefone" id="telefone" value="<%=dadosForm.telefone%>">
          </section>

          <section>
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" value="<%=dadosForm.cpf%>">
          </section>


          <section>
                <label> Estado <a>*</a></label>
                <select id="estado" class="" name="estado">
                    <option selected disabled value="">Selecione</option>
                    <option value="Acre">Acre</option>
                    <option value="Alagoas">Alagoas</option>
                    <option value="Amapá">Amapá</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Bahia">Bahia</option>
                    <option value="Ceará">Ceará</option>
                    <option value="Distrito Federal">Distrito Federal</option>
                    <option value="Espírito Santo">Espírito Santo</option>
                    <option value="Goiás">Goiás</option>
                    <option value="Maranhão">Maranhão</option>
                    <option value="Mato Grosso">Mato Grosso</option>
                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                    <option value="Minas Gerais">Minas Gerais</option>
                    <option value="Pará">Pará</option>
                    <option value="Paraíba">Paraíba</option>
                    <option value="Paraná">Paraná</option>
                    <option value="Pernambuco">Pernambuco</option>
                    <option value="Piauí">Piauí</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                    <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                    <option value="Rondônia">Rondônia</option>
                    <option value="Roraima">Roraima</option>
                    <option value="Santa Catarina">Santa Catarina</option>
                    <option value="São Paulo">São Paulo</option>
                    <option value="Sergipe">Sergipe</option>
                    <option value="Tocantins">Tocantins</option>
                </select>
            </section>
  
            <section>
              <label for="desc_usuario">
               Insira uma breve descrição sobre você.
              </label>
              <textarea name="desc_usuario" id="desc_usuario" value="<%=dadosForm.desc_usuario%>"></textarea>
            </section>

            <input type="submit" value="Alterar dados">
        </form>
        </section>
      </section>
</body>
</html>