<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    <script type="text/javascript" async="" src="js/cadastro-usuario.js"></script>
    <script type="text/javascript" src="js/notify.js"></script>

    <script type="text/javascript" async="" src="./js/login.js"></script>
    <title>Login</title>
</head>
<body>
    <% 
        const camposNomes = {
            email: "",
            senha: "",
        };

        const classeErro = {
            email: "",
            senha: "",
        };
        var msgerro = "";
        
        if (erros) {
            erros.errors.forEach(err => {
                camposNomes[err.path] = err.msg;
                classeErro[err.path] = "erro";
                msgerro += err.msg + "<br>";
            });
    %>
    <script>
        /* Variável que armazena as mensagens de erro do EJS */
        const msgErro = "<%= msgerro %>";
        displayNotify(
            "Falha: <%= erros.errors.length %> erro(s) detectados", 
            msgErro.replace(/&lt;/g, '<').replace(/&gt;/g, '>'), 
            "error"
        );
    </script>
    <% } else if (form_aprovado) { %>
    <script>
        displayNotify(
            "Tudo ocorreu como esperado :)", 
            "Você será redirecionado para a <strong>página de seu perfil!</strong>".replace(/&lt;/g, '<').replace(/&gt;/g, '>'), 
            "success"
        );

        setInterval(() => window.location.href = '/perfil', 5000);
    </script>
    <% } %>

    <section class="wrapper">
        <form method="post" action="/signin">
            <h1>Login</h1>
            <section class="input-box">
                <input type="email" name="email" placeholder="Email" class="<%= classeErro.email %>" value="<%= dadosForm.email %>" required>
                <i class="bx bxs-user"></i>
            </section>

            <section class="input-box">
                <input type="password" name="senha" placeholder="Password" class="<%= classeErro.senha %>" value="<%= dadosForm.senha %>" required>
                <i class='bx bxs-lock'></i>
            </section>

            <section class="remember-forgot">
                <label><input name="tipo_politico" value="on" type="checkbox">Sou Político</label>
                <a href="#">Esqueceu a senha?</a>
            </section>

            <button type="submit" class="btn">Login</button>
            
            <section class="register-link">
                <br>
                <p>Não tem conta?
                    <a href="escolha"> Crie uma!</a></p>
            </section>
        </form>
    </section>
    
</body>
</html>
