<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de eleitor <%= dadosUsuario.nome %></title>
    <link rel="stylesheet" href="../css/perfil-eleitor.css"/>
  </head>
  <body>
     <!--inicio do cabeçalho-->
     <%- include("../pages/header-home") %>
     <!--fim do cabeçalho-->
     <!--INICIO DO CORPO-->
    <section class="header__wrapper" style="background-image: url('../imagem/imagens_servidor/banner/<%= dadosUsuario.banner_usuario %>');">   

    </section>
      <section class="container">
        <section class="container_2">
          <section class="img__container">
            <img src="../imagem/imagens_servidor/perfil/<%= dadosUsuario.foto_usuario %>"/>
            <span></span>
          </section>
          <h2><%= dadosUsuario.nome %></h2>
          <p><%= dadosUsuario.candidatura %></p>
          <p><%= dadosUsuario.email %></p>

          <ul class="sobre">
            <li><span>0</span>Seguindo</li>
          </ul>

          <section class="content">
            <p>
              <%= dadosUsuario.desc_usuario %>
            </p>
            
          </section>
        </section>
        <section class="content_3">
          <nav>
            <ul>
              <li><a href="#">Publicações</a></li>
              
            </ul>

            <% if (dadosUsuario.perfilAdm) { %>
              <a class="editar_botao" href="/editar_eleitor/<%= logado.id %>">Editar</a>
            <% } else { %>
              <button class="editar_botao">Seguir</button>
            <% } %>

          </nav>

          <section class="fotos">
            <img src="../imagem/aviso.png" alt="fotos" />
          </section>
        </section>
      </section>
  </body>
</html>
