<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    <script src="../js/notify.js"></script>

    <title>Perfil de Candidato <%= dadosUsuario.nome %></title>
    <link rel="stylesheet" href="../css/perfilcandidado.css"/>
  </head>
  <body>
     <!--inicio do cabeçalho-->
     <%- include("../pages/header-home") %>
     <!--fim do cabeçalho-->

    <% if (dadosNotificacao) { %> 
      <script>
        displayNotify("<%= dadosNotificacao.title %>", "<%= dadosNotificacao.msg %>", "<%= dadosNotificacao.type %>")
      </script>  
    <%}%>
     <!--INICIO DO CORPO-->
    <section class="header__wrapper" 
    style="background-image: url('../imagem/imagens_servidor/banner/<%= dadosUsuario.banner_usuario %>'); background-size: cover;">  
 
    </section>
      <section class="container">
        <section class="container_2">
          <section class="img__container">
            <img src="../imagem/imagens_servidor/perfil/<%= dadosUsuario.foto_usuario %>"/>
            <span></span>
          </section>
          <h2><%= dadosUsuario.nome %></h2>
          <p><%= dadosUsuario.candidatura %></p>
          <p><%= dadosUsuario.email %></p>
 
          <ul class="sobre">
            <li><span>0</span>Seguidores</li>
            <li><span>0</span>Seguindo</li>
          </ul>
 
 
          <section class="content">
            <p>
              <%= dadosUsuario.desc_usuario %>
            </p>
           
          </section>
 
          <section class="botão">
            <% if (dadosUsuario.perfilAdm) { %>
              <a class="editar_botao" href="/editar_candidato/<%= logado.id %>">Editar Perfil</a>
              <a href="/postarFoto" style="color: inherit">
                <button class="editar_botao">Publicar</button>
              </a>
            <% } else { %>
              <button class="editar_botao">Seguir</button>
            <% } %>
 
          </section>
         
        </section>
        <section class="content_3">
          <nav>
            <ul>
              <li><a href="#">Publicações</a></li>
              <li><a href="#">Lives</a></li>
            </ul>
     
     
 
          </nav>
 
          <section class="fotos">
            <% if (postagens.length === 0 || !postagens) { %>
              <img src="../imagem/aviso.png" alt="fotos" />
            <% } else {%>
              <% postagens.forEach(post => { %>
                <section>
                  <section>
                    <h2>
                      <%= post.Titulo_postagem %>
                    </h2>
                    <span>
                      <%= post.data_postagem %>
                    </span>
                  </section>
                  <section>
                    <img src="../imagem/imagens_servidor/postagens/<%= post.Imagem_postagem %>" alt="Foto postagem">
                  </section>
                </section>
              <% })%>
            <% } %>
          </section>
        </section>
      </section>
  </body>
</html>